[submodule "bogl"]
	path = bogl
	url = https://github.com/The-Code-In-Sheep-s-Clothing/bogl.git
[submodule "bogl-editor"]
	path = bogl-editor
	url = https://github.com/The-Code-In-Sheep-s-Clothing/bogl-editor.git
